#!/usr/bin/env sh

base_config_dir={{base_config_dir}}

#
# aws configuration
#

export AWS_CONFIG_FILE=${base_config_dir}/.aws/config
export AWS_SHARED_CREDENTIALS_FILE=${base_config_dir}/.aws/credentials

#
# ackyp configuration
#

export ACKYP_CONFIG_DIR=${base_config_dir}/.ackyp

# Vault
export ACKYP_VNR="{{aws_vault}}:{{aws_region}}"

# The size of a download/upload chunk. Must be a power of 2
export ACKYP_PSIZE={{ackyp_psize}}

# A directory to be used as a temporary store for upload
export ACKYP_RAMDIR=/ackyp_ramdisk

# The number of workers that upload/download simultaneously
export ACKYP_THREADS={{ackyp_threads}}

# The log level. Can be debug, info or error
export ACKYP_LOG_LEVEL=info

# The sort criteria used when listing archives. Can be name, size, or time.
# Sorts by object store id by default.
export ACKYP_SORT=""

# The delete scope. Can be local or cloud. It deletes both by default.
export ACKYP_SCOPE=""

#
# bcrypt configuration
#

bcrypt_pass_file=${base_config_dir}/.bcrypt_password

alias bdcrypt='gpg --symmetric --cipher-algo AES256 --passphrase-file ${bcrypt_pass_file} --batch --pinentry-mode loopback ${1}'
alias becrypt='gpg -d --passphrase-file ${bcrypt_pass_file} --batch ${1}'

#
# functions
#

ackyp_upload() {
    pdirectory=$(dirname "$1")
    archive=$(basename "$1")
    package=$(basename "$pdirectory")
    tmppipe=$(mktemp -u)
    mkfifo -m 600 "${tmppipe}"

    tar cf - -C "${pdirectory}" "${archive}" | \
        gpg --symmetric --cipher-algo AES256 \
            --passphrase-file "${bcrypt_pass_file}" \
            --batch \
            --pinentry-mode loopback \
            > "${tmppipe}" & \
        ackyp --up "${tmppipe}" --name "${archive}" --package "${package}" --type gpg

    rm "${tmppipe}"
}
